@import '../variables.scss';

.show {
  height: 32rem;
  overflow: hidden;
  position: relative;

  &__name {
    color: $color-background;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__image {
    height: 85%;
    width: 100%;
    border-radius: 20px;
  }

  &__station {
    color: $color-secondary-text;
    font-size: 1.25rem;
    font-weight: 300;
  }

  &__like {
    transform: scale(1.2);
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

@media only screen and (max-height: 720px){
  .show__like {
    transform: none;
  }
}