.ButtonWrapper {
  text-align: center;
}

.Button {
  cursor: pointer;
  font-size: 13pt;
  font-weight: 600;
  font-family: inherit;
  width: 60%;
  border-width: 0;
  padding: 10px;
  border-radius: 50px;
}

.Primary {
  background: #d32f2f;
  color: #fff;
}

.Cancel {
  background: #d1c4e9;
  color: #212121;
}
